:root{
    /*colours*/
    --taupe: #E5E1d9;
    --dustyPink: #DAA7A2;
    --sage: #A7A88A;
    --oliveGreen:#37391E;

}

body{
  font-family: 'Titillium Web', sans-serif;
  font-size: 1.75rem;
  line-height: 1.5;
  background-color: var(--sage);
}


/*heading and navbar*/

h1{
    display: flex;
    align-items: center;
    justify-content: center;
    color:var(--dustyPink);
    background-color:var(--oliveGreen)
}

.navbar{
    display: flex;  
    align-items: center;
    justify-content: space-evenly;
}

.navbar a {
    color: var(--oliveGreen);
    text-decoration: none;
}

.navbar a:hover{
    color: var(--dustyPink);
    background-color: var(--taupe);
    box-shadow: 0 0 10px var(--dustyPink);
    border-radius: 5px;
}

/* hero banner*/

.hero-image { 
    background-image: url("../images/header-image.jpg");
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 400px;
}

.hero-image h2 {
    position:relative;
    top: 165px;
    background-color: var(--taupe)
}

h2{
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--oliveGreen);
}

/*About Me Section*/

.aboutMeImage {
    height: 350px;
    width: 300px;
}

.subsection p{
    width: 600px;
    color: var(--taupe);
}

/*main section*/

.page-section h3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--oliveGreen);
    color: var(--taupe);
}

.subsection{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

/*Work Grid*/

.projectGrid {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: repeat(4, 150px);
    grid-template-areas: "projectImage1 projectImage2"
                        "projectImage1 projectImage3"
                        "projectImage1 projectImage4"
                        "projectImage1 projectImage5";
    ;
}

.projectImage1 {
    grid-area: projectImage1;
    padding: 10px;
}

.projectImage2 {
    grid-area: projectImage2;
    padding: 10px;
}

.projectImage3 {
    grid-area: projectImage3;
    padding: 10px;
}

.projectImage4 {
    grid-area: projectImage4;
    padding: 10px;
}

.projectImage5 {
    grid-area: projectImage5;
    padding: 10px;
}

.projectGrid a {
    position:relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--taupe);
}

.projectImage1,
.projectImage2,
.projectImage3,
.projectImage4,
.projectImage5 {
    position: relative;
}

.projectImage1 img,
.projectImage2 img,
.projectImage3 img,
.projectImage4 img,
.projectImage5 img {
    width: 100%;
    height: 100%; 
    object-fit: cover;
}

.projectImage1 a,
.projectImage2 a,
.projectImage3 a,
.projectImage4 a,
.projectImage5 a {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px; 
}

.projectImage1 span,
.projectImage2 span,
.projectImage3 span,
.projectImage4 span,
.projectImage5 span{
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    text-decoration: none;
    color: var(--taupe);
} 

.projectGrid a span:hover {
    color: var(--dustyPink);
    background-color: var(--taupe);
    box-shadow: 0 0 10px var(--dustyPink);
    border-radius: 5px;
}

/* contact section*/

.contactSub { 
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.contactSub a{
    text-decoration: none;
    color: var(--oliveGreen);
}

.contactSub a:hover{
    color: var(--dustyPink);
    background-color: var(--taupe);
    box-shadow: 0 0 10px var(--dustyPink);
    border-radius: 5px;
}

/* footer*/
h4{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--oliveGreen);
    color: var(--taupe);
}

/*media query*/
@media screen and (max-width:768px){
    h1{
        font-size:medium;
    }

    .hero-image{
        height: 200px;
        font-size: medium;
    }

   .navbar{
       font-size: medium;
       flex-direction: column;
       align-items: center;
}

.navbar a {
    margin-bottom: 10px;
}
h3{
    font-size: medium;
}
.subsection{
    display: flex;
    flex-direction: row;
    font-size: medium;
}
.aboutMeImage{
    height: 200px;
    width: 100px;
}

.projectGrid{
    display: grid;
    grid-template-columns: repeat (5, 100%);
    grid-template-areas: "projectImage1" "projectImage2" "projectImage3" "projectImage4" "projectImage5"; 

}

.projectImage1,
.projectImage2,
.projectImage3,
.projectImage4,
.projectImage5{
    width: 100%;
    align-items: center;
    justify-content: center;
}

.contactSub{
    font-size: medium;
    flex-direction: column;
    align-items: center;
}

footer{
    font-size: small;
}
}